<a href="{{ path('sylius_shop_checkout_start') }}" class="m-auto">
    {% include '@SyliusShop/Components/button.html.twig' with { text: '<i class="fas fa-credit-card mr-2"></i> Proceed to payment' } %}
</a>
