{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="pb-6">
    <form method="post" action="{{ path('sylius_shop_cart_clear') }}" >
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(cart.id) }}" />
        <button type="submit" id="sylius-cart-clear" {{ sylius_test_html_attribute('cart-clear-button') }}>
            <i class="fas fa-trash"></i> {{ 'sylius.ui.clear_cart'|trans }}
        </button>
    </form>
</div>
