{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.customer_login'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="w-full md:w-1/2 mx-auto pt-12">
        <div class="container mx-auto">
            <h1 class="text-3xl text-white">Login</h1>
            <div class="py-12">
                {{ sylius_template_event('sylius.shop.login.main_column', _context) }}
            </div>
        </div>
    </div>
{% endblock %}
