{% block body %}
    {% autoescape false %}
        <div style="font-family: sans-serif; background: #eee; padding-top: 30px; padding-bottom: 30px; font-size: 16px; color: #333; line-height: 1.5">
            <div style="max-width: 600px; margin: 20px auto;">
                <div style="background: #fff; padding: 40px 30px;">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
